

.section{
    /* border:2px red solid; */
    background: #ffead8;
    overflow:hidden;
}
.title{
    padding-top: 1.5rem;
    padding-left: 2rem;
    width:30%;
    margin-right:10px;
    float:left;
    font-size: 5rem;
    text-align: center;
    overflow:hidden;
    /* border:2px white solid; */
}

.h1{
    /* border: 1px solid; */
    font-size: 10rem;
    text-align: center;
    color: #f28500;
    font-family: 標楷體;
}
.h2{
    /* border: 1px solid; */
    font-size: 3rem;
    text-align: right;
    padding-left: 3rem;
    color:#BD7B00;
    font-family:"Courier New", Courier, monospace;
} 

.list{
      padding-top: 3rem;
      width: 60%;
      line-height: 10rem;
      /* border:2px black solid; */
      float:right;
    }
    
    .list li{
      float: right;
      list-style-type:none;
      display: inline;
    } 
    
  
    .list li a{
      /* display: inline-block; */
      text-decoration: none;
      color: #FF8A00;
      font-size: 4rem;
      font-weight: 50;
      padding-right: 5rem;
      font-family: 標楷體;
    }
    .char{
      padding-top:1rem; ;
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2.4rem;
      color: #FF8A00;;
      /* border:2px red solid; */
      font-family: 標楷體;
    }
    .text{
      padding-top:1rem; ;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2.4rem;
      color: #888;
    }
        
    .au{
      /* border:2px red solid; */
      background: #ffead8;
      overflow:hidden;
    }
    
    .lin{
      float: left;
      width: 40%;
      /* border:2px black solid;*/
    } 
    
    
    
    .lintext{
      float:right;
      width: 59.5%;
      /* border:2px black solid; */
      text-align: left;
      font-size: 2rem;
      font-family: 標楷體;
    }
  




