/*頁首父階層*/
.section{
    /*測試位置*/
    /* border:2px red solid; */
    background: #ffead8;
    overflow:hidden;
    /*測試位置*/
}

/*頁首子階層-1_logo*/
.logo{
    padding-top: 1.5rem;
    padding-left: 2rem;
    width:30%;
    margin-right:10px;
    float:left;
    font-size: 5rem;
    text-align: center;
    overflow:hidden;
    /*測試位置*/
    /* border:2px red solid; */
}


/*頁首子階層-2_功能選單*/
.list{
      padding-top: 3rem;
      width: 60%;
      line-height: 10rem;
      /*測試位置*/
      /* border:2px black solid; */
      float:right;
    }
    
    .list li{
      float: left;
      list-style-type:none;
      display: inline;
    } 
    
  
    .list li a{
      display: inline-block;
      position:right;
      text-decoration: none;
      color: #FF8A00;
      font-size: 4rem;
      font-weight: 50;
      padding-right: 5rem;
      font-family: 標楷體;
    }

/*文字*/
    .text{
      padding-top:1rem; ;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2.4rem;
      color: #888;
    }

    .au{
      display: flex inline-flex;
      overflow:hidden;
      /* background-color: #FBA183; */
      /*測試位置*/
      /* border:2px red solid; */
      
    }  
    
  .au-left{
    /*測試位置*/
    /* border:2px red solid; */
    float: left;
    width: 45%;
    font-family: 標楷體;
    font-size: 4rem;
    color: #FF8A00;
    text-align: right;
  }
  
 



